.popup {
	width: 543px;
	height: 347px;
	border: 2px inset #ffffff83;
	border-radius: 0px 40px;
	background: linear-gradient(45deg, rgba(255, 32, 121, 0.89) 0%, rgba(4, 0, 94, 0.91) 100%);
	position: absolute;
    right: 190px;
	top: 376px;
}

.open {
	visibility: visible;
}

.none {
	visibility: hidden;
}

.popup ul {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.popup ul li {
	color: #FFF;
	font-family: Franklin Gothic Book;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 100%;
	margin: 1rem auto;
}